.container {
  display: flex;
  flex-direction: row;
  background-color: red;
  border-radius: 30px;
  align-self: center;
  margin: auto;
  width: 600px;
  height: 180px;
}

.testeImg {
  border-radius: 100%;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  height: 0.2vw;
  font-family: "Bebas Neue", cursive;
}

.containerImagem {
  display: flex;
  flex: 1;
  /* backgrouknd-color: green; */
  justify-content: center;
  align-items: center;
}

.containerInfo {
  display: flex;
  flex: 2;
  /* background-color: blue; */
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.seriesContainer {
  /* background-color: royalblue; */
  flex-direction: column;
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: "Marvel", sans-serif;
}

.eventsContainer {
  /* background-color: green; */
  flex-direction: column;
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: "Marvel", sans-serif;
}

h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4vw;
}
